<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<h2>Edit Solo</h2>
<%= @song.title %>
<%= @solo.user.email %>

<%= render 'solo_form', solo: @solo %>

<% content_for :nav do %>
  <%= link_to 'Back', song_path(@song) %>
<% end %>
