<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<h1>Editing Phantom Profile</h1>

<%= render 'form', phantom: @phantom %>

<% content_for :nav do %>
  <%= link_to 'Back', @phantom %>
<% end %>
