<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<h1>New Phantom</h1>

<%= render 'form', phantom: @phantom %>

<%= link_to 'Back', phantoms_path %>
