<% content_for :backdrop do %>
  <div class="backdrop img-phantoms">
    <div class="overlay">
    </div>
  </div>
<% end %>

<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<% content_for :nav do %>
  <%= link_to 'Back', @post %>
<% end %>
