/**
 * Custom Variables
 */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
$font: 'Roboto', sans-serif;

$purple: #6441A5;
$light-purple: #9D50BB;
$gradient-purple: linear-gradient(to left, #9D50BB , #6441A5);

body {
  // color: $purple !important;
  font-family: $font;
  font-size: 10pt;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $light-purple;
  }
}

.super-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0.2em 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  height: 70px;
  background: #bbb;

  a {
    margin: 0 2em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
}

aside {
  display: flex;
  flex-direction: column;

    a {
    margin: 0.5em;
    border-radius: 1em;
    padding: 1em;
    background: $light-purple;
    text-align: center;
    color: #fff;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 6em;
  padding: 2em;
  background: #444;

  h3 {
    margin: 0;
    color: #fff;
  }
}

.col-3 {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 33%;
}



/**
 *
 */
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  th, td {
    padding: 1em 0.4em;
  }

  td {
    border-top: 1px solid #ddd;
  }

  tr:nth-child(2n) {
    td {
      background: #f6f6f6;
    }
  }

  tr:hover {
    td {
      background: #f1f1f1;
    }
  }
}

.history {
	border-collapse: collapse;
	width: 100%;
}

.history th {
	font-weight: bold;
}

.history th,
.history td {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	text-align: left;
}



/**
 * Holy Grail
 */
.hg,
.hg-body {
  display: flex;
  flex-direction: column;
}

.hg-nav {
  order: -1;
}

@media (min-width: 768px) {
  .hg-body {
      flex-direction: row;
      flex: 1;
  }

  .hg-content {
      flex: 1;
  }

  .hg-ads,
  .hg-nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
