// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .columns {
    display: flex;
    justify-content: center;
  }
}
